<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div style="text-align: center;">
            <h1>Registro de Servicios</h1>
        </div>

        <form [formGroup]="form">

            <mat-form-field class="example-full-width" *ngIf="!edicion">
                <mat-label>Id</mat-label>
                <input matInput placeholder="id" formControlName="id">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Nombre Servicio</mat-label>
                <input matInput placeholder="NombreServicio" formControlName="NombreServicio">
            </mat-form-field>
            <br>
            <div style="text-align: center;">
                <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>

                <button mat-raised-button color="warn" routerLink="/servicio">Cancelar</button>
            <p>{{mensaje}}</p>
            </div>
        </form>
    </div>
</body>

</html>

